:root {
  --primary-text-color: #212121;
  --logo-color-text: #000000;
  --secondery-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-color-accent: #188ce8;
  --button-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --hero-color-bg: #c4c4c4;
  --page-bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --border-color: #eeeeee;
  --button-filter-bg-color: #f5f4fa;
  --logo-accent-color-tomato: #00f8d0;
  --hedaer-line-color: #ececec;
  --feature-icon-bg-color: #f5f4fa;
  --gap-size: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  height: 1px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------------КОНТЕЙНЕР-------------------------- */

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* --------------------------ЛОГО-------------------------- */

.logo-header {
  padding: 24px 0 25px 0;
  color: var(--logo-color-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-colorized {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header:hover .logo-colorized,
.logo-header:focus .logo-colorized,
.logo-footer:hover .logo-colorized,
.logo-footer:focus .logo-colorized {
  color: var(--logo-accent-color-tomato);
  outline: transparent;
}

.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--logo-accent-color-tomato);
  outline: transparent;
}

/* --------------------------Стили навигации-------------------------- */

.main-page-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav-item + .header-nav-item {
  margin-left: 50px;
}

.header-nav-link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-auth-item + .header-auth-item {
  margin-left: 50px;
}

.header-auth-item {
  display: flex;
  align-items: center;
}

.header-auth-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--secondery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-auth-link:hover,
.header-auth-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-auth-link:hover .auth-nav-icon,
.header-auth-link:focus .auth-nav-icon {
  fill: var(--accent-color);
}

.auth-nav-icon {
  fill: var(--secondery-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-item {
  position: relative;
}

.curent {
  color: var(--accent-color);
}

.header-nav-link.curent::after {
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  bottom: -1%;
  background-color: var(--accent-color);
  opacity: 1;
  transform: scale(1);
  border-radius: 2px;
}

.header-nav-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1%;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: scale(1);
}

/* --------------------------Главная область-------------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-no-padding {
  padding-top: 0;
}

/* --------------------------ГЕРОЙ-------------------------- */

.hero-bg-img {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 91, 187, 0.7), rgba(255, 213, 0, 0.7)),
    url(../images/studio/hero/background_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-color-bg);
}
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.section-hero-title {
  width: 694px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-hero-button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  align-items: center;
  color: var(--button-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-button:hover,
.section-hero-button:focus {
  background-color: var(--button-color-accent);
  font-family: inherit;
}

/* --------------------------НАШИ ПРИЕМУЩЕСТВА-------------------------- */

.section-feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}
.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--feature-icon-bg-color);
  border-radius: 4px;
}

.feature-list-item {
  flex-basis: calc((100% - var(--gap-size) * 3) / 4);
}

.feature-list-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.feature-list-text {
  display: block;
  color: var(--secondery-text-color);
  font-size: 14px;
  line-height: 1.71;
  min-width: 270px;
}

/* --------------------------Чем мы занимаемся-------------------------- */

.section-practice-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.section-practice-item {
  flex-basis: calc((100% - var(--gap-size) * 2) / 3);
  position: relative;
}

.section-practice-item::before {
  position: absolute;
  content: '';
  display: flex;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb-img-text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);
}

.section-practice-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-practice-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* --------------------------TEAM-------------------------- */

.section-team {
  background-color: var(--team-bg-color);
}

.section-team-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.team-list-item {
  flex-basis: calc((100% - var(--gap-size) * 3) / 4);
  background-color: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-container-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-text {
  margin-bottom: 16px;
  color: var(--secondery-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--page-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-logo {
  display: block;
  fill: currentcolor;
}

.social-link:hover,
.social-link:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  outline: transparent;
}

/* --------------------------Постійні клієнти-------------------------- */

.section-clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}

.clients-list-item {
  margin: 0;
  flex-basis: calc((100% - var(--gap-size) * 3) / 4);
  max-width: 170px;
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  background-color: var(--page-bg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client-logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover .link-client-logo,
.clients-list-item:focus .link-client-logo {
  fill: var(--accent-color);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* --------------------------FOOTER-------------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text {
  display: block;
  margin-bottom: 9px;

  color: var(--white-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text:hover,
.address-text:focus {
  color: var(--accent-color);
}

.footer-contact-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-item {
  color: var(--contact-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-item:hover,
.footer-contact-item:focus {
  color: var(--accent-color);
}

/* МОДАЛЬНЕ ВІКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  align-items: center;
  justify-content: center; */

  min-width: 528px;
  min-height: 581px;

  background-color: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  width: 30px;
  height: 30px;

  color: #000000;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-title {
  display: block;
  align-items: center;

  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-form {
  height: 100%;
  width: 100%;
  padding: 40px 39px 40px 41px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  color: #555555;
  font-weight: 600;
  font-size: 14px;
}

.modal-input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

/* .modal-input:required {
  border-color: var(--accent-color);
} */

.modal-field + .modal-field {
  margin-top: 10px;
}

.modal-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: teal;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondery-text-color);
}

/* .modal-text:hover .modal-label,
.modal-text:focus .modal-label {
  border: 1px solid var(--accent-color);
} */

.modal-field:hover .modal-input,
.modal-field:focus .modal-input {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 7px;

  margin: 0;
  padding: 0;
}
.modal-checkbox {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondery-text-color);
}

.checkbox-offer {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
}

.modal-button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  align-items: center;
  color: var(--button-color);
  background-color: var(--button-color-accent);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---------------FOOTER-SOCIAL--------------- */

.container-social {
  margin-left: 70px;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  color: var(--button-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* --------------------------Страница Портфолио-------------------------- */

.section-portfolio {
  background-color: var(--page-bg-color);
}

/* --------------------------ФИЛЬТР-------------------------- */

.section-portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--button-filter-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:hover,
.button-list:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button-item + .filter-button-item {
  margin-left: 8px;
}

.button-curent {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* --------------------------ПОРТФОЛИО-------------------------- */

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.portfolio-list-item {
  flex-basis: calc((100% - var(--gap-size) * 2) / 3);
  background-color: var(--page-bg-color);
}

.portfolio-list-link {
  display: block;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.overlay-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.portfolio-list-link:hover .overlay-text,
.portfolio-list-link:focus .overlay-text {
  transform: translatey(0);
}

.portfolio-block-info {
  display: block;
  padding: 20px 24px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
  border-top: 0;
}

.portfolio-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-text {
  display: block;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondery-text-color);
  letter-spacing: 0.03em;
}

/* --------------------------СТОРІНКА КОНТАКТИ-------------------------- */

.contacts-block-info {
  padding-bottom: 50px;
  text-align: center;
}

.section-contacts-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
  margin-left: 0;
  margin-right: 0;
  padding-top: var(--gap-size);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  letter-spacing: 0.03em;
}

.contacts-list-item {
  flex-basis: calc((100% - var(--gap-size) * 1) / 2);
  background-color: var(--page-bg-color);
  min-width: 400px;
}

.contacts-list {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--primary-text-color);
  font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-list-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.contacts-list-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondery-text-color);
  letter-spacing: 0.03em;
}

.iframe-map {
  padding-top: var(--gap-size);
  text-align: center;
}

.iframe-map-link {
  margin-bottom: 20px;
}
